<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="https://unpkg.com/@highlightjs/cdn-assets@11.0.1/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        {{ test_data }}
        <div>{{ content | safe }}</div>
    </body>
</html>